<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">EJS - Embedded JS</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sobre">Sobre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contato">Contato</a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <H3 class="rocketseat nav navbar"> <%= typeof title != 'undefined' ? title : '' %>  </H3>

    </div>

</header>