<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')  %> 

<body class="container">


    <%- include('../partials/header', {title: 'Titulo dinamico de Sobre'})  %> 

    <main>
        <div class="jumbotron">
            <h1>Sobre Min</h1>
            <p>LuizzP aprendendo a programar</p>
        </div>
    </main>

    <%- include('../partials/footer')  %> 
    
</body>
</html>