<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')  %> 

<body class="container">

    <%- include('../partials/header')  %> 

    <main >
        <div class="jumbotron">
            <h1>Contato</h1>
            <address>Rua Victoria Orlando</address>
        </div>
    </main>

    <%- include ('../partials/footer') %> 
</body>
</html>